@import "../util.less";

.message {
    .layout();
    margin: 0px 10px;
    padding-top: 10px;
    .ant-spin-container {
        .layout();
    }
    .content {
        margin-left: 8px;
        .time {
            margin-left: 12px;
        }
    }
    p {
        max-width: max-content;
    }
}
.message-simple {
    max-width: max-content;
    margin: 5px 46px 0px 54px;
    .container {
        display: inline-block;
        max-width: 100%;
        & > a {
            word-break: break-all;
        }
    }
}
.expression-default-message {
    .size(30px, 30px);
    background-repeat: no-repeat;
}