@import "../util.less";

.message {
    .layout();
    margin: 0px 10px;
    padding-top: 10px;
    .content {
        margin-left: 8px;
        .time {
            margin-left: 12px;
        }
    }
}
.message-simple {
    margin: 5px 46px 0px 46px;
}